<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    <title>{% block title %}Netflix Symfony{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container-fluid">
    <header class="row">
        <div class="col-sm-12">
            <h1 class="col-sm-3">Netflix Symfony</h1>
        </div>
    </header>
    <nav></nav>
    <div id="content" class="row">
        <div class="col-sm-12">
            <div class="col-sm-3 well">
                <ul>
                    <li><a href="{{ path() }}">Liste des films</a></li>
                    <li>Liste des catégorie</li>
                    <li>Liste des utilisateurs</li>
                    <li><a href="{{ path('homepage') }}">Quitter l'administration</a></li>

                </ul>
            </div>
            <div class="col-sm-8">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
</div>
</body>
</html>
