header{
    background-color: black;
    color: white;
}
footer{
    background-color: grey;
    color:white;
    height: 20vh;
    padding: 30px 0;
}

#content{
    padding: 50px 0;
    min-height: 70vh;
   /* background: url("../img/body/background_content.jpg") center ;*/
}

.list_content{
    display: flex;
    justify-content: space-around;
}

.film_content{
    border: 1px solid grey;
    background-color: #fff;

    width: 201px;
}

.submit-link {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    color: blue;
    cursor: pointer;
}

.submit-link:focus {
    outline: none;
}