{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'une catégorie</h1>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3 well">
                {{ include('adminFilm/navigation/nav.html.twig') }}
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input class="btn btn-success" type="submit" value="Création d'une catégorie"/>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="margin: 30px 0;">
                        <a class="col-sm-offset-4 btn btn-default" href="{{ path('admin_category_index') }}">Retour à la
                            liste des catégories</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
