{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorie {{ category.id }}</h1>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3 well">
                {{ include('adminFilm/navigation/nav.html.twig') }}
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Name</th>
                                <td>{{ category.name }}</td>
                            </tr>
                            <tr>
                                <th>Code</th>
                                <td>{{ category.code }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <a class="btn btn-default col-sm-3 col-sm-offset-1" href="{{ path('admin_category_index') }}">Retour
                            à la liste des catégorie</a>
                        <a class="btn btn-primary col-sm-3 col-sm-offset-1"
                           href="{{ path('admin_category_edit', { 'id': category.id }) }}">Modifier la catégorie</a>

                        {{ form_start(delete_form) }}
                        <input class="btn btn-danger col-sm-3 col-sm-offset-1" type="submit"
                               value="SUpprimmer la catégorie">
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


