{% extends "base.html.twig" %}

{% block body %}

    <img src="{{ asset('img/films/' ~ film.image.path) }}" alt="{{ film.image.alt }}" style="width: 300px;height: 400px;">

    <h1>{{ film.title }}</h1>

    <strong>Directeur : </strong>{{ film.director }}
    <strong>Producteur : </strong>{{ film.producer }}
    <strong>Sortie le : </strong>{{ film.releasedate|date('d/m/Y') }}

    {% if film.agerestriction > 0 %}
        <p>Film interdit au moins de <strong>{{ film.agerestriction }} ans</strong></p>
    {% endif %}

    <h3>Synopsis</h3>
    <p>{{ film.description }}</p>


{% endblock %}