{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modification du film</h1>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3 well">
                {{ include('adminFilm/navigation/nav.html.twig') }}
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                {{ form_start(edit_form) }}
                                {{ form_widget(edit_form) }}
                                <input class="btn btn-primary" type="submit" value="Modifier le film"/>
                                {{ form_end(edit_form) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="margin-bottom: 30px;">
                                <a class="btn btn-default col-sm-4 col-sm-offset-1"
                                   href="{{ path('admin_film_index') }}">Retour à la liste des films</a>
                                {{ form_start(delete_form) }}
                                <input class="btn btn-danger col-sm-3 col-sm-offset-1" type="submit"
                                       value="Supprimmer le film">
                                {{ form_end(delete_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
