{% extends 'base.html.twig' %}

{% block body %}
    <h1>Films list</h1>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3 well">
                {{ include('adminFilm/navigation/nav.html.twig') }}
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Director</th>
                                <th>Producer</th>
                                <th>Releasedate</th>
                                <th>Agerestriction</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for film in films %}
                                <tr>
                                    <td>{{ film.title }}</td>
                                    <td>{{ film.director }}</td>
                                    <td>{{ film.producer }}</td>
                                    <td>{% if film.releaseDate %}{{ film.releaseDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>{{ film.ageRestriction }}</td>
                                    <td>{{ film.description | slice(0, 60) }}</td>
                                    <td>
                                        <a href="{{ path('admin_film_show', { 'id': film.id }) }}"
                                           class="glyphicon glyphicon-eye-open"></a>

                                        <a href="{{ path('admin_film_edit', { 'id': film.id }) }}"
                                           class="glyphicon glyphicon-pencil"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="{{ path('admin_film_new') }}" class="btn btn-success">Create a new film <span
                                        class="glyphicon glyphicon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
