{% extends 'base.html.twig' %}

{% block body %}
    <h1>Film</h1>


<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-3 well">
            {{ include('adminFilm/navigation/nav.html.twig') }}
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Titre</th>
                            <td>{{ film.title }}</td>
                        </tr>
                        <tr>
                            <th>Director</th>
                            <td>{{ film.director }}</td>
                        </tr>
                        <tr>
                            <th>Producer</th>
                            <td>{{ film.producer }}</td>
                        </tr>
                        <tr>
                            <th>Releasedate</th>
                            <td>{% if film.releaseDate %}{{ film.releaseDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Agerestriction</th>
                            <td>{{ film.ageRestriction }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ film.description }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                            <a class="btn btn-default col-sm-3 col-sm-offset-1" href="{{ path('admin_film_index') }}">Retour à la liste des films</a>
                            <a class="btn btn-primary col-sm-3 col-sm-offset-1" href="{{ path('admin_film_edit', { 'id': film.id }) }}">Modifier le film</a>
                            {{ form_start(delete_form) }}
                            <input class="btn btn-danger col-sm-3 col-sm-offset-1" type="submit" value="Supprimmer le film">
                            {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
